.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.listContainer {
  height: calc(100vh - 225px);
  overflow: auto;
}

.bottomBar {
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px !important;
  width: 100% !important;
}

.notification-container {
  top: 50px !important;
}
